.main .market_plan_outer{
    width: 100%;
}

.main .market_plan_outer .market_plan_inner{
    width: 100%;
    background-color: #000;
}

.main .market_plan_outer .market_plan_inner .market_plan_region{
    width: 100%;
}

.main .market_plan_outer .market_plan_inner .market_plan_region .all_path{
    width: 100%;
}

.main .market_plan_outer .market_plan_inner .market_plan_region .all_path .path_plan{
    width: 100%;
    background-color: #ffffff;
    display: flex;
}

.main .market_plan_outer .market_plan_inner .market_plan_region .all_path .path_plan .Whole_case_text{
    width: 25%;
    display: flex;
    z-index: 100;
    /* border: 1px solid red; */
    /* align-self: center; */
    /* height: 900px; */
    /* position: relative; */
}

.main .market_plan_outer .market_plan_inner .market_plan_region .all_path .path_plan .Whole_case_text .case_outer{
    display: flex;
    position: absolute;
    top: 60px;
    left: 60px;
    width: 60%;
    max-width: 650px;
}

.main .market_plan_outer .market_plan_inner .market_plan_region .all_path .path_plan .Whole_case_text .case_outer .case_icon{
    max-width: 110px;
}

.main .market_plan_outer .market_plan_inner .market_plan_region .all_path .path_plan .Whole_case_text .case_outer .case_icon img{
    width: 80px;
}

.main .market_plan_outer .market_plan_inner .market_plan_region .all_path .path_plan .Whole_case_text .case_outer .case_desc{
    /* border: 1px solid red; */
    /* align-self: center; */
    margin-top: 10px;
    max-width: 650px;
    width: 100%;
}

.main .market_plan_outer .market_plan_inner .market_plan_region .all_path .path_plan .Whole_case_text .case_outer .case_desc .case_title{
    /* border: 1px solid red; */
    font-size: 64px;
    font-weight: 600;
    color: #000;
    margin-bottom: 64px;
}

.main .market_plan_outer .market_plan_inner .market_plan_region .all_path .path_plan .Whole_case_text .case_outer .case_desc .case_card{
    display: flex;
    border: 1px solid #B541F3;
    border-radius: 12px;
    width: 100%;
    max-width: 650px;
    background-color: #ffffff;
    padding: 20px 15px 20px 15px;
    margin-bottom: 15px;
}

.main .market_plan_outer .market_plan_inner .market_plan_region .all_path .path_plan .Whole_case_text .case_outer .case_desc .case_card .card_info{
    width: 100%;
}

.main .market_plan_outer .market_plan_inner .market_plan_region .all_path .path_plan .Whole_case_text .case_outer .case_desc .case_card .card_image{
    max-width: 48px;
    margin-right: 10px;
}

.main .market_plan_outer .market_plan_inner .market_plan_region .all_path .path_plan .Whole_case_text .case_outer .case_desc .case_card .card_image img{
    width: 48px;
}

.main .market_plan_outer .market_plan_inner .market_plan_region .all_path .path_plan .Whole_case_text .case_outer .case_desc .case_card .card_info .info_title{
    font-size: 28px;
    font-weight: 600;
    color: #000;
    margin-top: 10px;
    margin-bottom: 20px;
}

.main .market_plan_outer .market_plan_inner .market_plan_region .all_path .path_plan .Whole_case_text .case_outer .case_desc .case_card .card_info .info_text{
    line-height: 20px;
    color: #666;
    font-size: 18px;
}

.main .market_plan_outer .market_plan_inner .market_plan_region .all_path .path_plan .Whole_case_text .case_outer .case_desc .case_card .card_info .card_button{
    display: flex;
    justify-content: right;
    margin-top: 15px;
}

.main .market_plan_outer .market_plan_inner .market_plan_region .all_path .path_plan .Whole_case_text .case_outer .case_desc .case_card .card_info .card_button .button_one{
    width: 100%;
    max-width: 96px;
    height: 40px;
    background-color: #000;
    border-radius: 6px;
    align-content: center;
    text-align: center;
    display: grid;
    margin-right: 10px;
}

.main .market_plan_outer .market_plan_inner .market_plan_region .all_path .path_plan .Whole_case_text .case_outer .case_desc .case_card .card_info .card_button .button_one a{
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    height: 40px;
    align-content: center;
}

.main .market_plan_outer .market_plan_inner .market_plan_region .all_path .path_plan .Whole_case_text .case_outer .case_desc .case_card .card_info .card_button .button_two{
    width: 100%;
    max-width: 96px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 6px;
    align-content: center;
    text-align: center;
    display: grid;
    transition: all 0.6s ease;
}

.main .market_plan_outer .market_plan_inner .market_plan_region .all_path .path_plan .Whole_case_text .case_outer .case_desc .case_card .card_info .card_button .button_two:hover{
    background-color: #B541F3;
}

.main .market_plan_outer .market_plan_inner .market_plan_region .all_path .path_plan .Whole_case_text .case_outer .case_desc .case_card .card_info .card_button .button_two a{
    text-decoration: none;
    color: #B541F3;
    width: 100%;
    height: 40px;
    align-content: center;
    transition: all 0.6s ease;
}

.main .market_plan_outer .market_plan_inner .market_plan_region .all_path .path_plan .Whole_case_text .case_outer .case_desc .case_card .card_info .card_button .button_two a:hover{
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    height: 40px;
    align-content: center;
}

/* 右側大圖片以及漸層遮罩 */
.main .market_plan_outer .market_plan_inner .market_plan_region .all_path .path_plan .Whole_case_image{
    width: 75%;
    height: 900px;
    position:relative;
    display: block;
    overflow: hidden;
}

.main .market_plan_outer .market_plan_inner .market_plan_region .all_path .path_plan .Whole_case_image::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.main .market_plan_outer .market_plan_inner .market_plan_region .all_path .path_plan .Whole_case_image img{
    display: block;
    /* width: 100%; */
    height: 100%;
}

/* 這裡的css是用在彈窗以及遮罩的部分，負責彈窗、遮罩的開啟與關閉 */
/* 遮罩 (Overlay) - 初始狀態為隱藏 */
        .modal-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7); 
            z-index: 1000; 
            
            display: none; 
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease;
        }

        /* 模態框內容 (Content) */
        .modal-content {
            background-color: white;
            padding: 30px;
            border-radius: 10px;
            width: 90%;
            max-width: 530px;
            position: relative; 
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
            
            transform: scale(0.5);
            transition: transform 0.7s ease;
        }

        .text_region h2{
            margin: 0px 0px 20px 0px;
            font-size: 24px;
            font-weight: 600;
            color: #1C1B1F;
        }

        .text_region p{
            font-size: 18px;
            font-weight: 400;
            color: #666;
            line-height: 23px;
        } 
        
        /* 關閉按鈕 (Close Button) */
        .close-button {
            position: absolute;
            top: 10px;
            right: 20px;
            font-size: 28px;
            font-weight: 300;
            cursor: pointer;
            color: #aaa;
            line-height: 1;
            transition: color 0.2s;
        }

        .close-button:hover {
            color: #333;
        }

        /* JS 用來切換顯示的 class */
        .modal-overlay.show {
            /* 彈窗顯示時，才啟用 flex 居中和可見狀態 */
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 1;
            visibility: visible;
        }
        
        /* 彈窗顯示時，縮放回 1 */
        .modal-overlay.show .modal-content {
            transform: scale(1);
        }
        
        /* 隱藏內容的模板，不顯示在頁面上 */
        #modalContentTemplates {
            display: none;
        }