/* world_map的css樣式設置 開始 */
.main .world_map{
    width: 100%;
}

.main .world_map .world_map_outer{
    width: 100%;
    background-color: #000;
}

.main .world_map .world_map_outer .world_map_inner{
    width: 100%;
    height: 100%;
}

.main .world_map .world_map_outer .world_map_inner .map_region{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .world_map .world_map_outer .world_map_inner .map_region .top_block{
    width: 95%;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main .world_map .world_map_outer .world_map_inner .map_region .top_block .desc_block {
    width: 90%;
    margin-bottom: 75px;
    /* border: 1px solid red; */
}

.main .world_map .world_map_outer .world_map_inner .map_region .under_block .desc_block {
    width: 90%;
    margin-bottom: 15px;
    margin-top: 6%;
    margin-left: 6%;
    /* border: 1px solid red; */
}

.main .world_map .world_map_outer .world_map_inner .map_region .top_block .desc_block .map_title{
    font-size: 64px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 20px;
}

.main .world_map .world_map_outer .world_map_inner .map_region .under_block .desc_block .map_title{
    font-size: 28px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}


.main .world_map .world_map_outer .world_map_inner .map_region .top_block .desc_block .map_sub{
    font-size: 24px;
    font-weight: 500;
    color: #b8b8b8;
}

.main .world_map .world_map_outer .world_map_inner .map_region .under_block .desc_block .map_sub{
    font-size: 18px;
    font-weight: 500;
    color: #b8b8b8;
}

.main .world_map .world_map_outer .world_map_inner .map_region .top_block .game_img_list{
    width: 100%;
    /* border: 1px solid red; */
}

.main .world_map .world_map_outer .world_map_inner .map_region .top_block .game_img_list ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main .world_map .world_map_outer .world_map_inner .map_region .top_block .game_img_list ul .game_icon{
    margin: 5px 5px;
}

.main .world_map .world_map_outer .world_map_inner .map_region .top_block .game_img_list ul .game_icon_inner{
    max-width: 104px;
}

.main .world_map .world_map_outer .world_map_inner .map_region .top_block .game_img_list ul .game_icon_inner img{
    width: 100%;
}


/* 下半部分 */
.main .world_map .world_map_outer .world_map_inner .map_region .under_block{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .world_map .world_map_outer .world_map_inner .map_region .under_block .country_flag{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    gap: 10px;
}

.main .world_map .world_map_outer .world_map_inner .map_region .under_block .country_flag .logo_image {
    width: 100%;
    height: 70px;
    max-width: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #b8b8b8;
    border-radius: 12px;
    gap: 10px;
    transition: all 0.6s ease;
}

@media (max-width:576px){
    .main .world_map .world_map_outer .world_map_inner .map_region .under_block .country_flag .logo_image {
    width: 100%;
    height: 70px;
    max-width: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #b8b8b8;
    border-radius: 12px;
    gap: 10px;
    transition: all 0.6s ease;
}
}

.main .world_map .world_map_outer .world_map_inner .map_region .under_block .country_flag .logo_image:hover{
    background-color: #2B4EB9;
}

.main .world_map .world_map_outer .world_map_inner .map_region .under_block .country_flag .logo_image a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.main .world_map .world_map_outer .world_map_inner .map_region .under_block .country_flag .logo_image .flag_text{
    font-size: 18px;
    font-weight: 600;
}

.main .world_map .world_map_outer .world_map_inner .map_region .under_block .country_flag .logo_image a .flag_text{
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

.main .world_map .world_map_outer .world_map_inner .map_region .under_block .country_flag .logo_image img{
    width: 100%;
}

/* RWD樣式 */
@media(max-width:576px){

    .main .world_map{
        width: 100%;
    }
    
    .main .world_map .world_map_outer{
        width: 100%;
        background-color: #000;
    }
    
    .main .world_map .world_map_outer .world_map_inner{
        width: 100%;
        height: 100%;
    }
    
    .main .world_map .world_map_outer .world_map_inner .map_region{
        /* border: 1px solid red; */
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .main .world_map .world_map_outer .world_map_inner .map_region .top_block{
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .main .world_map .world_map_outer .world_map_inner .map_region .top_block .desc_block {
        width: 90%;
        margin-bottom: 40px;
        /* border: 1px solid red; */
    }
    
    .main .world_map .world_map_outer .world_map_inner .map_region .top_block .desc_block .map_title{
        font-size: 38px;
        font-weight: 600;
        color: #ffffff;
        margin-bottom: 22px;
    }
    
    .main .world_map .world_map_outer .world_map_inner .map_region .top_block .desc_block .map_sub{
        font-size: 20px;
        font-weight: 500;
        color: #b8b8b8;
    }
    
    .main .world_map .world_map_outer .world_map_inner .map_region .top_block .game_img_list{
        width: 100%;
        display: flex;
        justify-content: center;
        /* border: 1px solid red; */
    }
    
    .main .world_map .world_map_outer .world_map_inner .map_region .top_block .game_img_list ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
    }
    
    .main .world_map .world_map_outer .world_map_inner .map_region .top_block .game_img_list ul .game_icon{
        margin: 5px 5px;
    }
    
    .main .world_map .world_map_outer .world_map_inner .map_region .top_block .game_img_list ul .game_icon_inner{
        max-width: 60px;
    }
    
    .main .world_map .world_map_outer .world_map_inner .map_region .top_block .game_img_list ul .game_icon_inner img{
        width: 100%;
    }
    
    /* icon的hover效果 */
    .tool_text_1{
        position: relative;
        transition: color 0.3s;
    }
    
    .tool_text_1::after{
        content: attr(data-tooltip);
        position: absolute;
        bottom: -55%;
        left: 0%;
        width: 100%;
        height: 30px;
        text-align: center;
        align-content: center;
        background-color: #7a7a7a;
        color: #ffffff;
        border-radius: 5px;
        white-space: nowrap;
        font-size: 14px;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s, transform  0.3s;
    }
    
    .tool_text_1:hover::after{
        opacity: 1;
        visibility: visible;
    }
    
    .tool_text_1::before{
        content: '';
        position: absolute;
        bottom: -8%;
        left: 35%;
        transform: translateX(0%);
    
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #7a7a7a transparent;
    
        opacity: 1;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.1s, transform  0.3s;
    }
    
    .tool_text_1:hover::before{
        opacity: 1;
        visibility: visible;
    }
    
    
    /* 下半部分 */
    .main .world_map .world_map_outer .world_map_inner .map_region .under_block{
        width: 100%;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
    }
    
    .main .world_map .world_map_outer .world_map_inner .map_region .under_block .company_logo_list{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;
        margin-bottom: 60px;
        justify-content: center;
    }
    
    .main .world_map .world_map_outer .world_map_inner .map_region .under_block .company_logo_list .logo_image{
        max-width: 330px;
    }
    
    .main .world_map .world_map_outer .world_map_inner .map_region .under_block .company_logo_list .logo_image img{
        width: 100%;
    }

}

/* world_map的css樣式設置 結束 */